.ob-dropzone {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: 2px dotted #999;
    border-radius: 9px;

    &:hover {
        background-color: rgba(100, 100, 100, .2);
    }
}

.ob-dropzone-big {
    width: 100%;
    position: relative;

    .ob-dropzone {
        width: 180px;
        height: 180px;
        margin: auto;
        border-width: 3px;
    }
}

.ob-dropzonetext {
    pointer-events: none;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    text-shadow: 1px 1px rgb(0,0,0);
    line-height: 1.4em;
}
