@bg: lighten(#272822, 5%);
@text-color: lighten(#272822, 60%);


.row-padding {
    padding-left: 15px;
    padding-right: 15px;
}

* {
    box-sizing: border-box;
}

html, body {
    background: @bg;
}

.main {
    width: 100%;
    height: 100%;
    background: @bg;
    color: @text-color;
}

.main img {
    width: 103px;
    height: 89px;
    margin-bottom: 10px;
    text-align: center;
}

.head {
    .row-padding();
    -webkit-font-smoothing: antialiased;
}

/* transitions */

.fade-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
}

.footer {
    font-size: 11px;
    .row-padding();
    -webkit-font-smoothing: antialiased;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px dotted rgb(100,100,100);
}

.ob-input-btn {
    background-color: @bg;
    color: lighten(@bg, 50%);
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid rgb(100,100,100);
    border-radius: 2px;
    font-size: 11px;
}

.ob-input-text {
    height: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted lighten(@bg, 50%);
    color: orangered;
}
