.ob-xmlviewer {
    font-size: 12px;
    font-family: "Monaco", "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    max-width: 640px;
    max-height: 600px;
    overflow: scroll;
    -webkit-box-shadow: 1px 1px 10px #ccc;
    -moz-box-shadow: 1px 1px 10px #ccc;
    box-shadow: 1px 1px 10px #ccc;
    padding: 15px 30px 15px 30px;
}

.ob-xmlviewer-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ob-file-tab-bar {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    border-bottom: 1px dotted rgb(100,100,100);
    border-top: 1px dotted rgb(100,100,100);
}

.ob-stats-tab {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.ob-xmlviewer-xpath-searchbox {
    margin-left: 20px;
    color: #000011;
}

.ob-xmlviewer-xpath-searchbox {
    margin-right: 8px;
}
